/*must be on all sites*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  overflow: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
body {
  margin: 0;
  background: #e4b6a2;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: #e4b6a2;
  background-blend-mode: multiply;
  background-size: cover;
  margin: 0;
  place-items: center;
}
main .section {
  grid: 2/3;
}
/***************mobile header**************/

header {
  background-color: #2381ff;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
}
/*to click on the menu*/
.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid blue;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
/*turning it into a burger menu*/
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  /* the animation for closing the menu*/
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #640980;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  /*the animation for opening the menu */
  transition: opacity 250ms ease-in-out 250ms;
}

.logo {
  width: 100px;
  height: auto;
  float: right;
}
/****************desktop header***************/
@media screen and (min-width: 699px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #640980;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media (min-width: 699px) {
  main {
    height: 100vh;
    padding: 1rem;
    background-color: #e4b6a2;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
  }
}

/*********************portfolio site*************/
.row {
  margin: 8px -16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
}
/*padding around each column */
.row,
.row > .column {
  padding: 8px;
  width: 100%;
}

/*two equal columns next to each other */
.column {
  float: left;
  width: 50%;
}

/*Clearing floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Content */
.content {
  padding: 10px;
}

/*Responsive layout - two column-layout not four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/*Responsive layout - two columns stack on top of each other -not next to eachother */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/*****************gallery on portfolio site*********/
div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 2px solid rgb(178, 53, 209);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*********************about me site - portrait picture*************/
.portrait {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-size: cover;
}
@media (min-width: 699px) {
  .portrait {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}

/*grid section - about me*/
.row2 {
  margin: 8px -16px;
}
/*padding around each column */
.row2,
.row2 > .column {
  padding: 8px;
}

/*two equal columns next to each other */
.column2 {
  float: left;
  width: 50%;
}

/*Clearing floats after rows */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/*Content */
.content2 {
  padding: 10px;
}

/*Responsive layout - two column-layout not four columns */
@media screen and (max-width: 900px) {
  .column2 {
    width: 50%;
  }
}

/*Responsive layout - two columns stack on top of each other -not next to eachother */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}

/***************splashbillede information**********/
.splashbillede {
  width: 100%;
  height: auto;
  padding: 0;
}
.splashbillede img {
  padding: 0;
}

@media (max-width: 699px) {
  main {
    margin-top: 110px;
  }
}
/***********sizes of the fonts**************/
h1 {
  font-size: 2.5rem;
  font-family: "Plateia", sans-serif;
  color: #256086;
  margin: 0.5rem;
  line-height: 1.15;
}
h2 {
  font-family: "Zen Kurenaido", sans-serif;
  line-height: 1.15;
  margin: 0.5rem;
  color: #a397cb;
  font-size: 1.8rem;
}

h3 {
  font-family: "Zen Kurenaido", sans-serif;
  line-height: 1.15;
  margin: 0.5rem;
  color: #256086;
  font-size: 1.5rem;
}
a {
  font-family: "Zen Kurenaido", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  margin: 0.5rem;
  color: #640980;
}
a:hover {
  color: #a02eaa;
}
p {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem;
  line-height: 2;
  color: #000000;
}
ul {
  margin: 1.5rem;
  padding: 0.5rem;
}

@media (min-width: 699px) {
  h1 {
    font-size: 2.5rem;
    font-family: "Plateia", sans-serif;
    color: #256086;
    margin: 0.5rem;
    line-height: 1.15;
  }
  h2 {
    font-family: "Zen Kurenaido", sans-serif;
    line-height: 1.15;
    margin: 0.5rem;
    color: #a397cb;
    font-size: 1.8rem;
  }

  h3 {
    font-family: "Zen Kurenaido", sans-serif;
    line-height: 1.15;
    margin: 0.5rem;
    color: #256086;
    font-size: 1.5rem;
  }
  a {
    font-family: "Zen Kurenaido", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
    color: #640980;
  }
  p {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 0.9rem;
    margin: 0.5rem;
    line-height: 2;
    color: #000000;
  }
}
