/*skal være på alle sites*/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
body {
  margin: 0;
  background: bisque;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
}
/*header*/
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background-color: blueviolet;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 50px;
  position: relative;
}
nav a {
  color: #000000;
  text-transform: uppercase;
  font-size: 1rem;
}
nav a:hover {
  color: #640980;
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #000000;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}

.logo {
  width: 100px;
  height: auto;
  float: left;
}

/*grid sections*/

.grid_section1 {
  height: 100%;
  width: 300px;
  background-size: cover;
}
main {
  padding: 2rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px 1fr);
}
main .section {
  grid-column: 2/3;
}

/* størrelser på fonterne*/
h1 {
  font-size: 2.5rem;
  font-family: "Plateia", sans-serif;
  color: #256086;
  line-height: 1.15;
}
h2 {
  font-family: "Zen Kurenaido", sans-serif;
  line-height: 1.15;
  margin: 1rem;
  color: #a397cb;
  font-size: 1.8rem;
}

h3 {
  font-family: "Zen Kurenaido", sans-serif;
  line-height: 1.15;
  margin: 1rem;
  color: #256086;
  font-size: 1.5rem;
}
a {
  font-family: "Zen Kurenaido", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  margin: 1rem;
  color: #640980;
}
p {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 0.9rem;
  margin: 1rem;
  line-height: 2;
  color: #000000;
}

/*grid sections*/
@media (min-width: 600px) {
  .grid_section1 {
    display: grid;
  }
}
